#header {
    background-color:#78C189;
    color:w#50695C;
    text-align:left;
    font-family: "Verdana Thin", sans-serif;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;	      
}
#section {
    width:350px;
    float:left;
    padding:10px;	 	 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:0px;	 	 
}
buttons {
    float:right;
}