<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!--Allows for mobile viewing of webpages-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FLOCK</title> <!--Fun, laid-back, organized college kids. Students using books to defeat stress-->
         <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script type='text/javascript'src="js/alternateScript.js"></script>
    <script src="mapiconmaker.js" type="text/javascript"></script>
    <script>
    $(".navigation2").click(function () {
          $(this).show("slide", { direction: "left" }, 1000);
    });
    </script>
        <!-- Linking the Bootstrap CSS to our HTML -->
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap-theme.css" rel="stylesheet">
        <link href="css/hci-friends.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/sideBar.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        {{> tracking_code_script}}
    </head>



    <body>
  <div class="container"> </div>
  <ul class="navigation2">
    <div id="marker_list">List of Students</div>
</ul>
    

        <div class ="brand"> FLOCK </div>
        <nav class="navbar navbar-default" role="navigation">
            <div class="">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">FLOCK</a>
                </div>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">

                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="contacts">Classmates</a></li>
                    <li><a href="messages">Messages</a></li>
                    <li><a href="profile">Profile</a></li>
                    <li><a href="login">Logout</a></li>
                </ul>
            </div>
        </nav>


<div class="site-wrap">
    <!-- insert the rest of your page markup here -->

        <div class="row">
            <div class="box">
                <div class="col-lg-12">

                    <!--h2 class="intro-text text-center">Study link
                    </h2-->

  <div id="map-canvas" style="margin-bottom:10px"></div>
        <div class="wrapper">
     <div class="arrangement">

	</div>
	<div class="css-checkbox">
	<h6 position="right"> CLASS FILTER <h6>
                <label><input type="radio" onchange="filterCSE()" checked ="checked" name="checkbox" value="value">CSE170</label>
                <label><input type="radio" onchange="filterECE()"name="checkbox" value="value">ECE100</label>
                <label><input type="radio" onchange="filterCOGS()"name="checkbox" value="value">COGS11B</label>
	</div>




<HR WIDTH="100%" COLOR="#6699FF" SIZE="15">

<HR WIDTH="100%" COLOR="#6699FF" SIZE="15">



                                <input type="hidden" name="save" value="contact">
                                <button class="btn btn-warning btn-lg btn-block" id ="send"type="button" onclick="markSelf()"class="btn btn-default">Message</button>

                    </form>


            </div>
                </div>
            </div>
        </div>
<input type="checkbox" id="nav-trigger" class="nav-trigger" />
<label class = "navigation2" for="nav-trigger"></label>




<form id="new-project-form" role="form">
    <div class="form-group">
      <label for="title">Title for New Project:</label>
      <input type="text" class="form-control" id="name" placeholder="Bob">
    </div>
    <div class="form-group">
      <label for="date">Date</label>
      <input type="text" class="form-control" id="message" placeholder="Start typing your message here">
    </div>
    <button id="newProjectSubmitButton" type="button" class="btn btn-default">Submit</button>

  </form>


 

</div>


       <script src="js/jquery-1.10.2.js"></script>
       <script src="js/bootstrap.js"></script>
       <script src="js/hci-friends.js"></script>
    </body>

</html>

